# IDE / Editors
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Virtual Environments & Python
backend/.venv/
backend/__pycache__/
backend/*.py[cod]
backend/.pytest_cache/
backend/kizuna.db

# Frontend Dependencies & Builds
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
